/* Body text */
body { 
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: start;
  
  height: 100%;
  margin: auto;
  padding: 4rem;
  border-radius: 1rem;
  
  background-color: hsl(90, 17%, 91%);
  color: hsl(0, 0%, 0%);
  }
  
  /* Call-to-action container */
  .cta { 
  max-width: 30ch;
  margin: auto;
  margin-top: .5rem;
  padding: 2rem;
  border-radius: 1rem;
  
  color: black;
  background-color: hsl(83, 19%, 52%);
  
  }
  
  /* Call to Action "button" */
  .cta a, .cta a:visited {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  
  padding: 0.5rem;
  margin: auto;
  border-radius: 1rem;
  
  color: hsl(90, 17%, 91%);
  background-color: hsl(0, 0%, 0%);
  }
  
  /* Hover state */
  .cta a:hover {
  background-color:hsl(90, 17%, 91%);
  color:hsl(83, 19%, 52%);
  }
  
  /* Click state */
  .cta a:active {
  
  }